Test/Service References/ServiceReference1/WebServiceNet2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29060/WebServiceNet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjetExterne" />
  <xs:element name="rechercheExtrePersonne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObjetExterne" minOccurs="0" name="searchip" nillable="true" type="q1:InfoPersonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rechercheExtrePersonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObjetExterne" minOccurs="0" name="rechercheExtrePersonneResult" nillable="true" type="q2:ArrayOfInfoPersonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recherchePersonnes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObjetExterne" minOccurs="0" name="ip" nillable="true" type="q3:InfoPersonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recherchePersonnesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObjetExterne" minOccurs="0" name="recherchePersonnesResult" nillable="true" type="q4:ArrayOfInfoPersonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>