Test/Service References/ServiceReference1/WebServiceNet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebServiceNet" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29060/WebServiceNet.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29060/WebServiceNet.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29060/WebServiceNet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjetExterne" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebServiceNet_rechercheExtrePersonne_InputMessage">
    <wsdl:part name="parameters" element="tns:rechercheExtrePersonne" />
  </wsdl:message>
  <wsdl:message name="IWebServiceNet_rechercheExtrePersonne_OutputMessage">
    <wsdl:part name="parameters" element="tns:rechercheExtrePersonneResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceNet_recherchePersonnes_InputMessage">
    <wsdl:part name="parameters" element="tns:recherchePersonnes" />
  </wsdl:message>
  <wsdl:message name="IWebServiceNet_recherchePersonnes_OutputMessage">
    <wsdl:part name="parameters" element="tns:recherchePersonnesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebServiceNet">
    <wsdl:operation name="rechercheExtrePersonne">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceNet/rechercheExtrePersonne" message="tns:IWebServiceNet_rechercheExtrePersonne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceNet/rechercheExtrePersonneResponse" message="tns:IWebServiceNet_rechercheExtrePersonne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recherchePersonnes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceNet/recherchePersonnes" message="tns:IWebServiceNet_recherchePersonnes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceNet/recherchePersonnesResponse" message="tns:IWebServiceNet_recherchePersonnes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebServiceNet" type="tns:IWebServiceNet">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="rechercheExtrePersonne">
      <soap:operation soapAction="http://tempuri.org/IWebServiceNet/rechercheExtrePersonne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recherchePersonnes">
      <soap:operation soapAction="http://tempuri.org/IWebServiceNet/recherchePersonnes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceNet">
    <wsdl:port name="BasicHttpBinding_IWebServiceNet" binding="tns:BasicHttpBinding_IWebServiceNet">
      <soap:address location="http://localhost:29060/WebServiceNet.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>