Test/Service References/ServiceReference1/WebServiceNet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjetExterne" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjetExterne" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InfoPersonne">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conseiller" nillable="true" type="tns:InfoConseiller" />
      <xs:element minOccurs="0" name="DateNaissance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Financeur" nillable="true" type="tns:InfoFinanceur" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexe" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoPersonne" nillable="true" type="tns:InfoPersonne" />
  <xs:complexType name="InfoConseiller">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoConseiller" nillable="true" type="tns:InfoConseiller" />
  <xs:complexType name="InfoFinanceur">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoFinanceur" nillable="true" type="tns:InfoFinanceur" />
  <xs:complexType name="ArrayOfInfoPersonne">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoPersonne" nillable="true" type="tns:InfoPersonne" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoPersonne" nillable="true" type="tns:ArrayOfInfoPersonne" />
</xs:schema>