WebServiceNet/Service References/ServiceReference1/PersonneWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://externe.webservices.com/" targetNamespace="http://externe.webservices.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAllPersonnes" type="tns:GetAllPersonnes" />
  <xs:element name="GetAllPersonnesResponse" type="tns:GetAllPersonnesResponse" />
  <xs:element name="GetPersonne" type="tns:GetPersonne" />
  <xs:element name="GetPersonneResponse" type="tns:GetPersonneResponse" />
  <xs:element name="RecherchePersonne" type="tns:RecherchePersonne" />
  <xs:element name="RecherchePersonneResponse" type="tns:RecherchePersonneResponse" />
  <xs:element name="RecherchePersonnes" type="tns:RecherchePersonnes" />
  <xs:element name="RecherchePersonnesResponse" type="tns:RecherchePersonnesResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="RecherchePersonnes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:infoPersonne" />
      <xs:element name="arg1" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infoPersonne">
    <xs:sequence>
      <xs:element minOccurs="0" name="conseiller" type="tns:infoConseiller" />
      <xs:element minOccurs="0" name="dateNaissance" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="emplois" nillable="true" type="tns:infoEmploi" />
      <xs:element minOccurs="0" name="financeur" type="tns:infoFinanceur" />
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="nom" type="xs:string" />
      <xs:element minOccurs="0" name="prenom" type="xs:string" />
      <xs:element name="sexe" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infoConseiller">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="nom" type="xs:string" />
      <xs:element minOccurs="0" name="prenom" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infoEmploi">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateDebut" type="xs:string" />
      <xs:element minOccurs="0" name="dateFin" type="xs:string" />
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="nom_emploi" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="tns:infoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infoType">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="intitule" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infoFinanceur">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="nom" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecherchePersonnesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:infoPersonne" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPersonne">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPersonneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:infoPersonne" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecherchePersonne">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:boolean" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecherchePersonneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:infoPersonne" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllPersonnes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetAllPersonnesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:infoPersonne" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>